body{
    background-color: rgb(245, 245, 245);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    max-width: 1300px;
    padding: 0 90px;
    margin:auto;
}
html{
    scroll-behavior: smooth;
}

/* navbar */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 15px 0;
    font-family: 'Oswald', sans-serif;
    background-color: #0078ff;
}

ul li a.active {
     color: black !important;
}

.navbar.sticky{
    padding: 15px 0;
    background: #0078ff;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a {
    display: block;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    margin-left: 0px;
    padding: 0px 30px 0px 0px;

}
.navbar .menu li a:hover {
    color: rgb(0, 0, 0);

}
.navbar.sticky .menu li a:hover{
    color: rgb(0, 0, 0);
}

.dropdown {
    float: right;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 22px;  
    border: none;
    outline: none;
    color: white;
    padding: 1px 0px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-weight: 500;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color:#0078ff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(240, 240, 240);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }



  /* Projecten */

  .section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
    font-family: 'Oswald', sans-serif;
}

#projects .projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
#projects .projects-header h1 {
	margin-bottom: 50px;
}
#projects .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#projects .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#projects .project-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #0078ff 100%);
	color: white;
}
#projects .project-info h1 {
	font-size: 3rem;
	font-weight: 500;
    font-family: 'Oswald', sans-serif;
}
#projects .project-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
    font-family: 'Oswald', sans-serif;
}
#projects .project-info p {
	color: white;
    font-family: 'Poppins', sans-serif;
}
#projects .project-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#projects .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: .3;
}
#projects .project-img img {
	transition: .3s ease transform;
}
#projects .project-item:hover .project-img img {
	transform: scale(1.1);
}

#projects .project-item {
    flex-direction: row;
}
#projects .project-item:nth-child(even) {
    flex-direction: row-reverse;
}
#projects .project-item {
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
}
#projects .all-projects .project-info {
    height: 100%;
}
#projects .all-projects .project-img {
    height: 100%;
}



  /* Footer */
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    
}
footer span a{
    color: #0078ff;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}