body{
    background-color: rgb(245, 245, 245);
    
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    max-width: 1300px;
    padding: 0 90px;
    margin:auto;
}
html{
    scroll-behavior: smooth;
}

/* navbar */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 15px 0;
    font-family: 'Oswald', sans-serif;
    background-color: #0078ff;
}

ul li a.active {
     color: black !important;
}

.navbar.sticky{
    padding: 15px 0;
    background: #0078ff;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a {
    display: block;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    margin-left: 0px;
    padding: 0px 30px 0px 0px;

}
.navbar .menu li a:hover {
    color: rgb(0, 0, 0);

}
.navbar.sticky .menu li a:hover{
    color: rgb(0, 0, 0);
}

.dropdown {
    float: right;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 22px;  
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-weight: 500;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color:#0078ff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(240, 240, 240);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Project */
  
  .title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
    font-family: 'Oswald', sans-serif;
}

 .title_container {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}

.box{
    padding:20px;  
    box-sizing: border-box;
    background: #fff;
    /* border-radius: 4px; */
    /* box-shadow: 0 5px 15px rgba(0,0,0.5); */
    display: flex;
    flex-direction: column;
    margin: -60px 100px;
}

.boxFlex{
    flex-direction: row;
    display: flex;
    margin: 30px;
    
}


.box .imgBox img{
    width: 600px;
    border-radius: 5px
    
}

.box .content h2{
    text-align: left;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
}

.box .content{
    padding-left: 8px;
    margin: 2%;
}

.box .content p{
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-size: 18px;
    line-height: 25px;
}

.box .content1{
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 20px;
    margin: 2%;
}




  /* Footer */
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    
}
footer span a{
    color: #0078ff;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

/* back page button */
#backUp{
    height: 50px;
    width: 50px;
    border: 3px solid #0078ff;
    border-radius: 3px;
    position: fixed;
    left: 25px;
    top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

