/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 90px;
    margin:auto;
}


/* navbar */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Oswald', sans-serif;
}

ul li a.active {
     color: black !important;
}

.navbar.sticky{
    padding: 15px 0;
    background: #0078ff;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a {
    display: block;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    margin-left: 0px;
    padding: 0px 30px 0px 0px;

}
.navbar .menu li a:hover {
    color: rgb(0, 0, 0);

}
.navbar.sticky .menu li a:hover{
    color: rgb(0, 0, 0);
}

.dropdown {
    float: right;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 22px;  
    border: none;
    outline: none;
    color: white;
    padding: 1px 0px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-weight: 500;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color:#0078ff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(240, 240, 240);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  
/* Hazem Ben Rouba titel*/
.home{
    display: flex;
    height: 100vh;
    color: #fff;
    
    
   
    
}
.home::before{
    content: "";
      background: url('/Afb/hazem1.png') no-repeat center;
      background-size: auto;
      background-color: rgba(0, 0, 0, 0.6);
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.75;
}

home-content {
    align-content: center;
}

h1{
    font-size: 150px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    text-align: center;
    text-shadow: -4px -4px #ffffff;
    position: relative;
    color: #0078ff;  
    
}

/* Over mij */

.about .about-content .left{
    width: 45%;;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: #0078ff;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: #0078ff;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #0078ff;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: #0078ff;
    background: none;
}

.about{
    font-family: 'Poppins', sans-serif;
}
.about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Oswald', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #0078ff;
    transform: translateX(-50%);
}

/* footer */
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    
}
footer span a{
    color: #0078ff;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}