/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin:auto;
}


/* navbar */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
}

.navbar.sticky{
    padding: 15px 0;
    background: #0078ff;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a {
    display: block;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    margin-left: 0px;
    padding: 0px 30px 0px 0px;

}
.navbar .menu li a:hover {
    color: rgb(0, 0, 0);

}
.navbar.sticky .menu li a:hover{
    color: rgb(0, 0, 0);
}

.dropdown {
    float: right;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 20px;  
    border: none;
    outline: none;
    color: white;
    padding: 1px 0px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-weight: 500;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color:#0078ff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(240, 240, 240);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  
/* Hazem Ben Rouba titel*/
.home{
    display: flex;
    background: url("hazem.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    background-size: auto;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: .8;
}

home-content {
    align-content: center;
}

.text-2{
    font-size: 100px;
    font-weight: 600;
    text-align: center;
    text-shadow: -4px -4px #000000;
}


